ANDROID_APP_PATH=./apps/app-under-test.apk
IOS_APP_PATH=./apps/ios-app.app

ANDROID_DEVICE_NAME=emulator-5554
ANDROID_APP_PACKAGE=
ANDROID_APP_ACTIVITY=

IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.2
